services:
  postgres:
    image: postgres:18
    container_name: pgt4-postgres
    environment:
      POSTGRES_DB: pgt4_pelari_kalcer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:5
    container_name: pgt4-adminer
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: pgt4-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5

  create-bucket:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    container_name: pgt4-minio-bootstrap
    depends_on:
      minio:
        condition: service_healthy
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
        /usr/bin/mc alias set localminio http://minio:9000 minio minio123;
        /usr/bin/mc mb --ignore-existing localminio/photos;
        exit 0;
      "

volumes:
  postgres-data:
  minio-data:
